---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:ladytron/demographics/twitter/location/city?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": [{"city": {"latitude": "19.428470611572266", "region":
        {"country": {"code": "MX", "class": "country", "name": "Mexico"}, "class":
        "region", "name": "Distrito Federal"}, "class": "city", "longitude": "-99.1276626587",
        "name": "Mexico City"}, "value": 233}, {"city": {"latitude": "51.50852966308594",
        "region": {"country": {"code": "GB", "class": "country", "name": "United Kingdom"},
        "class": "region", "name": "England, Greater London"}, "class": "city", "longitude":
        "-0.12574000656604767", "name": "London"}, "value": 167}, {"city": {"latitude":
        "34.05223083496094", "region": {"country": {"code": "US", "class": "country",
        "name": "United States"}, "class": "region", "name": "California, Los Angeles
     [...]
[...]
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:ladytron/demographics/twitter/location/location?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 18 Mar 2015 20:43:56 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:ladytron/demographics/twitter/location/location?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 18 Mar 2015 20:43:57 GMT
recorded_with: VCR 2.9.3
