---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/plays/total?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"start_time": 1258588800, "data": [434558, 302715, 270951,
        28639, 72821, 270964, 270964, 270964, 270964, 270964, 270964, 270963, 270964,
        285349, 325936, 327012, 327011, 303878, 301775, 156599, 143402, 82027, 262114,
        193077, 369491, 252329, 165431, 215353, 220610, 217798, 217543, 273092, 278142,
        64672, 254488, 236516, 228805, 120115, 110303, 456776, 175193, 146731, 115318,
        112462, 205771, 354196, 366918, 62241, 382399, 53765, 193210, 212916, 233593,
        235438, 235439, 234892, 218020, [...]
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/plays/total?granularity=week&token=8d9bafc5dbef47e881467320e1a1e8f3&variant=cumulative
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"start_time": 1258329600, "data": [5749809, 7448414[...]
[...]
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:fe66302b0aee49cfbd7d248403036def/plays/total?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "No data found for artist with
        ID lastfm:fe66302b0aee49cfbd7d248403036def", "code": 204}}'
  recorded_at: Fri, 20 Mar 2015 19:53:02 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/lastfm:fe66302b0aee49cfbd7d248403036def/plays/total?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "No data found for entity with
        ID lastfm:fe66302b0aee49cfbd7d248403036def", "code": 204}}'
  recorded_at: Mon, 23 Mar 2015 17:26:58 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/lastfm:fe66302b0aee49cfbd7d248403036def/plays/total?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "No data found for entity with
        ID lastfm:fe66302b0aee49cfbd7d248403036def", "code": 204}}'
  recorded_at: Mon, 23 Mar 2015 17:26:59 GMT
recorded_with: VCR 2.9.3
