---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/facebook/plays?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 11 Mar 2015 14:15:48 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/soundcloud/plays?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 11 Mar 2015 14:16:12 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/soundcloud/fans?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 11 Mar 2015 14:24:58 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/invalidsubsource/fans?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 11 Mar 2015 14:28:38 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/facebook/fans?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 11 Mar 2015 14:29:34 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/fans/facebook?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"start_time": 1257984000, "data": [2043.0, 2480.0, 74510.0,
        2150.0, 2192.0, 2892.0, 3134.0, 2954.0, 3317.0, 3675.0, 3630.0, 5257.0, 6184.0,
        4375.0, 3976.0, 3512.0, 4211.0, 3938.0, 3825.0, 4042.0, 5185.0, 6862.0, 6102.0,
        6455.0, 6644.0, 6651.0, 6830.0, 7865.0, 7919.0, 7920.0, 7919.0, 7919.0, 7919.0,
        8199.0, 7954.0, 8651.0, 6723.0, 9123.0, 9734.0, 10299.0, 10221.0, 10015.0,
        9916.0, 8335.0, 8544.0, 9595.0, 11543.0, 12677.0, 12003.0, 10384.0, 8839.0,
        11893.0, 12692.0, 11902.0, 10720.0[...]
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/fans/soundcloud?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "No data for this endpoint", "code":
        204}}'
  recorded_at: Wed, 11 Mar 2015 14:41:19 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/fans/any?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 11 Mar 2015 14:49:19 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/fans/any?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 11 Mar 2015 14:51:55 GMT
recorded_with: VCR 2.9.3
