---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/fans/any?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 11 Mar 2015 16:38:33 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/fans/any?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 11 Mar 2015 16:38:34 GMT
recorded_with: VCR 2.9.3
