---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:ladytron/demographics/twitter/location/country?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": [{"country": {"code": "US", "class": "country", "name":
        "United States"}, "value": 887}, {"country": {"code": "GB", "class": "country",
        "name": "United Kingdom"}, "value": 390}, {"country": {"code": "MX", "class":
        "country", "name": "Mexico"}, "value": 317}, {"country": {"code": "CA", "class":
        "country", "name": "Canada"}, "value": 158}, {"country": {"code": "CL", "class":
        "country", "name": "Chile"}, "value": 138}, {"country": {"code": "AU", "class":
        "country", "name": "Australia"}, "value": 69}, {"country": {"code": "BR",
        "cla[...]
[...]
