---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:ladytron/demographics/twitter/age?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"data": [{"age": "00-16", "percent": 0.01007194}, {"age":
        "17-19", "percent": 0.1021583}, {"age": "20-24", "percent": 0.2302158}, {"age":
        "25-29", "percent": 0.4273381}, {"age": "30-34", "percent": 0.1179856}, {"age":
        "35-39", "percent": 0.05179856}, {"age": "40-49", "percent": 0.05179856},
        {"age": "50-59", "percent": 0.005755396}, {"age": "60-69", "percent": 0.001438849},
        {"age": "70-99", "percent": 0.001438849}]}, "success": true}'
  recorded_at: Fri, 13 Mar 2015 18:07:48 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:ladytron/demographics/twitter/people_category?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 18 Mar 2015 20:44:00 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:ladytron/demographics/twitter/people_category?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Wed, 18 Mar 2015 20:44:01 GMT
recorded_with: VCR 2.9.3
