---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "You do not have access to this
        resource", "code": 403}}'
  recorded_at: Mon, 23 Mar 2015 18:31:26 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/chart/?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "You do not have access to this
        resource", "code": 403}}'
  recorded_at: Mon, 23 Mar 2015 18:31:27 GMT
recorded_with: VCR 2.9.3
