---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Fri, 20 Mar 2015 02:02:06 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/chart/c6db7136d639444d9ab54a3c66e0b813?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Fan High Flyers", "now_id": "c6db7136d639444d9ab54a3c66e0b813",
        "start_time": 1426636800, "period": 86400, "class": "chart", "end_time": 1426723200,
        "previous_id": "351db658188c527fb10aaa959fed9d4d", "data": [{"value": 189.5477928,
        "rank": 1, "artist": {"class": "artist", "name": "Caramelos de Cianuro", "id":
        "b76b95e671f545698590e2ecdb5d0ca1"}}, {"value": 188.79622998, "rank": 2, "artist":
        {"class": "artist", "name": "Big Sean", "id": "8a3448f501ca414694780a51589d7d53"}},
        {"value": 123.98390747, "rank": 3, "artist": {"class": "artist", "name": "CNBLUE",
        "id": "267400bb4b18460582bdb2778c9ab99d"}}, {"value": 96.47734369, "rank":
        4, "artist": {"class": "artist", "name": "Room Full of Strangers", "id": "e5b3b1c7953b47d099d6f462bc94debb"}},
        {"value": 94.89[...]
[...]
