---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Fri, 20 Mar 2015 02:17:28 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/chart/6aacf495049d4de99c809b0ad8120c39?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Current cumulative fans", "now_id": "6aacf495049d4de99c809b0ad8120c39",
        "start_time": 1426636800, "period": 86400, "class": "chart", "end_time": 1426723200,
        "previous_id": "08596c7f4a985377bbb98c5ee5bcfb62", "data": [{"value": 163357534,
        "rank": 1, "artist": {"class": "artist", "name": "Justin Bieber", "id": "74d4539c16624efc9471c5a93292c6e7"}},
        {"value": 160161701, "rank": 2, "artist": {"class": "artist", "name": "Katy
        Perry", "id": "ebb718f927a34f00ba154c632ad10c92"}}, {"value": 153749878, "rank":
        3, "artist": {"class": "artist", "name": "Taylor Swift", "id": "5e8dba506c2b4091bee56bc7c4088afc"}},
        {"value": 148703792, "rank": 4, "artist": {"class": "artist", "name": "Rihanna",
        "id": "ed61fe981f9143fe82536a0e5e9836f7"}}, {"value": 143852664, "rank": 5,
      [...]
[...]
