---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/bb789492225c4c4da2e15f617acc9982?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Fans added last day", "now_id": "bb789492225c4c4da2e15f617acc9982",
        "start_time": 1426636800, "period": 86400, "class": "chart", "end_time": 1426723200,
        "previous_id": "5c016d8f9fd0586dafb8d0fefafb175e", "data": [{"value": 125872,
        "rank": 1, "artist": {"class": "artist", "name": "Taylor Swift", "id": "5e8dba506c2b4091bee56bc7c4088afc"}},
        {"value": 83917, "rank": 2, "artist": {"class": "artist", "name": "Ariana
        Grande", "id": "35bff379cd084f6e92fc145b3496843f"}}, {"value": 80981, "rank":
        3, "artist": {"class": "artist", "name": "Adam Levine", "id": "2e103f3cd92c455ba16229a0350e5df6"}},
        {"value": 78777, "rank": 4, "artist": {"class": "artist", "name": "Katy Perry",
        "id": "ebb718f927a34f00ba154c632ad10c92"}}, {"value": 73510, "rank": 5, "artist":
       [...]
[...]
- request:
    method: get
    uri: http://api.semetric.com/?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Resource not found", "code": 404}}'
  recorded_at: Fri, 20 Mar 2015 01:53:20 GMT
[...]
