---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/3040cc0f02ed4dd1a2da9ea95c9a8272?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Current cumulative views", "now_id": "3040cc0f02ed4dd1a2da9ea95c9a8272",
        "start_time": 1426464000, "period": 86400, "class": "chart", "end_time": 1426550400,
        "previous_id": "5be4a72f72c759b0ac2597c5f4103974", "data": [{"rank": 1, "value":
        16060202, "artist": {"id": "35bff379cd084f6e92fc145b3496843f", "class": "artist",
        "name": "Ariana Grande"}}, {"rank": 2, "value": 15818598, "artist": {"id":
        "00c186c179514af388f3a5404726ef67", "class": "artist", "name": "Eminem"}},
        {"rank": 3, "value": 12481401, "artist": {"id": "59f7fc0410404b829baa4093240037e8",
        "class": "artist", "name": "Lorde"}}, {"rank": 4, "value": 11871206, "artist":
        {"id": "66d1dafffcf5498db51176946d25bcb8", "class": "artist", "name": "Miley
        Cyrus"[...]
[...]
