---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/b0de4888427d46ac8f599f2f6d51e293?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Views last week", "now_id": "b0de4888427d46ac8f599f2f6d51e293",
        "start_time": 1426464000, "period": 604800, "class": "chart", "end_time":
        1427068800, "previous_id": "1906440ac8655df1a3b31b1486c0ed22", "data": [{"value":
        182522, "rank": 1, "artist": {"class": "artist", "name": "Natalia Kills",
        "id": "871fcb90d513401282a28bd1b41145c3"}}, {"value": 182522, "rank": 1, "artist":
        {"class": "artist", "name": "Verbalicious", "id": "d8d7a561818949c4b6a2cea8c237353d"}},
        {"value": 118125, "rank": 2, "artist": {"class": "artist", "name": "Willy
        Moon", "id": "bbdd862c5930420eab808a0c7bdfd756"}}, {"value": 55047, "rank":
        3, "artist": {"class": "artist", "name": "Kendrick Lamar", "id": "814b1c7830dc4da2843a3e24e2aed0ab"}},
        {"value": 31066, "rank": 4, "artist": {"c[...]
[...]
