---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/33e77c5fcb06412193995c9a4bb054f4?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Views High Flyers", "now_id": "33e77c5fcb06412193995c9a4bb054f4",
        "start_time": 1426464000, "period": 86400, "class": "chart", "end_time": 1426550400,
        "previous_id": "df03f6860eac5f8387a0e610141b4f24", "data": [{"rank": 1, "value":
        303.78431372, "artist": {"id": "27e990e75abb495c99745c3e9a54d260", "class":
        "artist", "name": "Buddy Ebsen"}}, {"rank": 2, "value": 120.83806231, "artist":
        {"id": "62e1af269f2e45a3ab0551e29db996cf", "class": "artist", "name": "Don
        Johnson"}}, {"rank": 3, "value": 60.48333332, "artist": {"id": "5979f18da5ca42c69a1e3f15a06e7fe8",
        "class": "artist", "name": "Alberta Adams"}}, {"rank": 4, "value": 51.1168457,
        "artist": {"id": "2e103f3cd92c455ba16229a0350e5df6", "class": "artist", "name":
 [...]
[...]
