---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/entity/fe66302b0aee49cfbd7d248403036def/plays/total?token=invalid%20key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "Authentication Required", "code":
        401}}'
  recorded_at: Thu, 05 Mar 2015 21:40:26 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:fe66302b0aee49cfbd7d248403036def/plays/total?token=invalid%20key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "No data found for artist with
        ID lastfm:fe66302b0aee49cfbd7d248403036def", "code": 204}}'
  recorded_at: Fri, 20 Mar 2015 19:52:59 GMT
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:fe66302b0aee49cfbd7d248403036def/plays/total?token=invalid%20key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success": false, "error": {"msg": "No data found for artist with
        ID lastfm:fe66302b0aee49cfbd7d248403036def", "code": 204}}'
  recorded_at: Fri, 20 Mar 2015 19:53:00 GMT
recorded_with: VCR 2.9.3
