---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:ladytron/demographics/twitter/gender?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"data": [{"count": 209, "gender": "female"}, {"count":
        447, "gender": "male"}]}, "success": true}'
  recorded_at: Fri, 13 Mar 2015 18:00:56 GMT
[...]
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:ladytron/demographics/twitter/gender?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"data": [{"count": 209, "gender": "female"}, {"count":
        447, "gender": "male"}]}, "success": true}'
  recorded_at: Fri, 13 Mar 2015 18:00:57 GMT
recorded_with: VCR 2.9.3
