---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/d527eeba4bdc42178b49d977b375936f?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Plays last day", "now_id": "d527eeba4bdc42178b49d977b375936f",
        "start_time": 1426636800, "period": 86400, "class": "chart", "end_time": 1426723200,
        "previous_id": "cc617349949c581b8f839578cf511467", "data": [{"value": 8244932,
        "rank": 1, "artist": {"class": "artist", "name": "Taylor Swift", "id": "5e8dba506c2b4091bee56bc7c4088afc"}},
        {"value": 6737107, "rank": 2, "artist": {"class": "artist", "name": "Tinashe",
        "id": "fe6f5df26f714a59bd3565f5e1a80635"}}, {"value": 6043820, "rank": 3,
        "artist": {"class": "artist", "name": "Rihanna", "id": "ed61fe981f9143fe82536a0e5e9836f7"}},
        {"value": 5751293, "rank": 4, "artist": {"class": "artist", "name": "Maroon
        5", "id": "dfede336c5de47ac84d570166275dd2e"}}, {"value": 5405942, "rank":
        5, "artist": {"c[...]
[...]
