---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/7a614a370a2848b29c156e27dde582c8?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Current cumulative plays", "now_id": "7a614a370a2848b29c156e27dde582c8",
        "start_time": 1426636800, "period": 86400, "class": "chart", "end_time": 1426723200,
        "previous_id": "ec38edd1106d55eda0bf30c920c5ce70", "data": [{"rank": 1, "value":
        8587125919, "artist": {"id": "ed61fe981f9143fe82536a0e5e9836f7", "class":
        "artist", "name": "Rihanna"}}, {"rank": 2, "value": 6459610795, "artist":
        {"id": "555d3359b6a84172b105ca28f54e5128", "class": "artist", "name": "Pitbull"}},
        {"rank": 3, "value": 6342962772, "artist": {"id": "74d4539c16624efc9471c5a93292c6e7",
        "class": "artist", "name": "Justin Bieber"}}, {"rank": 4, "value": 6128575754,
        "artist": {"id": "ebb718f927a34f00ba154c632ad10c92", "class": "artist", "name":
        "Kat[...]
[...]
