---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/627b42c981d4413b83191efd8183a982?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Plays last week", "now_id": "627b42c981d4413b83191efd8183a982",
        "start_time": 1426464000, "period": 604800, "class": "chart", "end_time":
        1427068800, "previous_id": "e2ebc48929ea5005aca5760b14ebc90f", "data": [{"value":
        29718412, "rank": 1, "artist": {"class": "artist", "name": "Taylor Swift",
        "id": "5e8dba506c2b4091bee56bc7c4088afc"}}, {"value": 20608385, "rank": 2,
        "artist": {"class": "artist", "name": "Ellie Goulding", "id": "c95325a134074fd2b4a3d864b3a10a6d"}},
        {"value": 20438172, "rank": 3, "artist": {"class": "artist", "name": "Rihanna",
        "id": "ed61fe981f9143fe82536a0e5e9836f7"}}, {"value": 20079017, "rank": 4,
        "artist": {"class": "artist", "name": "Maroon 5", "id": "dfede336c5de47ac84d570166275dd2e"}},
        {"value": 17230738, "rank": 5, "artist": [...]
[...]
