---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/b857276b34cf488f9a934765c3281af7?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Plays High Flyers", "now_id": "b857276b34cf488f9a934765c3281af7",
        "start_time": 1426636800, "period": 86400, "class": "chart", "end_time": 1426723200,
        "previous_id": "e4d1301f7326532ca5734004fe8a775f", "data": [{"value": 11618.20544224,
        "rank": 1, "artist": {"class": "artist", "name": "Kelly Clarkson", "id": "4facef8ca72442bcb6ecf741820a4c16"}},
        {"value": 9039.70763882, "rank": 2, "artist": {"class": "artist", "name":
        "Banda Carnaval", "id": "c6b2c89fc0ec4347b38718513ae70223"}}, {"value": 3231.39749893,
        "rank": 3, "artist": {"class": "artist", "name": "Tiziano Ferro", "id": "fc43d48fc3bb4a53ba9d0ce93426d0e5"}},
        {"value": 2106.91272996, "rank": 4, "artist": {"class": "artist", "name":
        "Shawn Mendes", "id": "408afb22b87d44b2aed0983b0e6cb9b1"}}, {"value": 1810.4[...]
[...]
