---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/artist/lastfm:radiohead?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"modified_by": null, "name": "Radiohead", "modification_date":
        null, "images": [{"url": "//d2ols6i12gwtgn.cloudfront.net/64/2b8242893eb1569d91ed4a5a784a2fd8.jpg",
        "class": "image", "size": "64"}, {"url": "//d2ols6i12gwtgn.cloudfront.net/126/2b8242893eb1569d91ed4a5a784a2fd8.jpg",
        "class": "image", "size": "126"}, {"url": "//d2ols6i12gwtgn.cloudfront.net/256/2b8242893eb1569d91ed4a5a784a2fd8.jpg",
        "class": "image", "size": "256"}, {"url": "//d2ols6i12gwtgn.cloudfront.net/full_size/2b8242893eb1569d91ed4a5a784a2fd8.jpg",
        "class": "image", "size": "0"}], "creation_date": null, "genre": null, "record_id":
        "111595", "summary": {"description": null, "overview": "Radiohead are an English
        <a href=\"http://www.last.fm/tag/alternative%20rock\" class=\"bbcode_tag\"
        rel=\"tag\">alternative rock</a> band from Abingdon, Oxfordshire, UK which
        formed in 1985. The band is composed of <a href=\"http://www.last.fm/music/Thom+Yorke\"
        class=\"bbcode_artist\">Thom Yorke</a> (lead vocals, rhythm guitar, piano,
        beats), <a href=\"http://www.last.fm/music/Jonny+Greenwood\" class=\"bbcode_artist\">Jonny
        Greenwood</a> (lead g[...]
[...]
