---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/d21e3cd170924bcd8874ec15d84b64f1?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Comments last day", "now_id": "d21e3cd170924bcd8874ec15d84b64f1",
        "start_time": 1426636800, "period": 86400, "class": "chart", "end_time": 1426723200,
        "previous_id": "96caac693e295485950f16f3f446eae6", "data": [{"value": 136,
        "rank": 1, "artist": {"class": "artist", "name": "Martin Garrix", "id": "10d8768440d7411aa0b2a29d3f57d266"}},
        {"value": 136, "rank": 1, "artist": {"class": "artist", "name": "GTA", "id":
        "fd8c9a16ceff44fcba6cde4d17563dd5"}}, {"value": 123, "rank": 2, "artist":
        {"class": "artist", "name": "Lane 8", "id": "0627c06d711d42788bf76ba5754ef5dd"}},
        {"value": 120, "rank": 3, "artist": {"class": "artist", "name": "Don Diablo",
        "id": "e8d80b3a45164f2c8ca5cad2829ae865"}}, {"value": 99, "rank": 4, "artist":
        {"class": "artist", "na[...]
[...]
