---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/7908e358427f4efe9f5aac6df69bfcbd?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Current cumulative comments", "now_id": "7908e358427f4efe9f5aac6df69bfcbd",
        "start_time": 1426636800, "period": 86400, "class": "chart", "end_time": 1426723200,
        "previous_id": "046b5e6ef07c551885ad64c1772d73de", "data": [{"rank": 1, "value":
        241960, "artist": {"id": "7668a8e2506b4282b396ee6c2851979e", "class": "artist",
        "name": "Skrillex"}}, {"rank": 2, "value": 136097, "artist": {"id": "04ba4e4bd7e34432b082c500fc589ee7",
        "class": "artist", "name": "CAKED UP"}}, {"rank": 3, "value": 134205, "artist":
        {"id": "5a073389bc98477d96bb111c3521a160", "class": "artist", "name": "Hardwell"}},
        {"rank": 4, "value": 92803, "artist": {"id": "401ae78c9ac14ea5867ad9add278c080",
        "class": "artist", "name": "Diplo"}}, {"rank": 5, "valu[...]
[...]
