---
http_interactions:
- request:
    method: get
    uri: http://api.semetric.com/chart/75f972a32f3547e197668d545f4cda1d?token=8d9bafc5dbef47e881467320e1a1e8f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"name": "Comments last week", "now_id": "75f972a32f3547e197668d545f4cda1d",
        "start_time": 1426464000, "period": 604800, "class": "chart", "end_time":
        1427068800, "previous_id": "df9d0f0662f35701a1408746f1c53a84", "data": [{"rank":
        1, "value": 807, "artist": {"id": "10d8768440d7411aa0b2a29d3f57d266", "class":
        "artist", "name": "Martin Garrix"}}, {"rank": 2, "value": 319, "artist": {"id":
        "dfa05d9e32b541ba9a68554f92b6472c", "class": "artist", "name": "Angel Haze"}},
        {"rank": 2, "value": 319, "artist": {"id": "c95325a134074fd2b4a3d864b3a10a6d",
        "class": "artist", "name": "Ellie Goulding"}}, {"rank": 3, "value": 315, "artist":
        {"id": "808af0a2a9284350b0722bae5a3c801c", "class": "artist", "name": "Oliver
        Heldens[...]
[...]
